          <article class="workout">
            <div class="workout-icon">
              <i class="fas fa-bullhorn"></i>
            </div>
            <div class="workout-content">
              <p class="workout-title">
                {{Workout-Title}}
              </p>
              <div class="exercise">
                <p class="title">
                  Exercise
                </p>
                <p class="content">
                  {{workout}}
                </p>
              </div>
              <div class="sets">
                <p class="title">
                  Sets
                </p>
                <p class="content">
                  {{setNum}}
                </p>
              </div>
              <div class="reps">
                <p class="title">
                  Reps
                </p>
                <p class="content">
                  {{repNum}}
                </p>
              </div>
              <p class="workout-creator">
                <a href="#">{{author}}</a>
              </p>
            </div>
          </article>
